

.stApp {
    background-image: url('https://raw.githubusercontent.com/Dot9898/Torneos-activos-catan-Chile/refs/heads/main/assets/img/catan_background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.stHeading h1 {
    color: #3F3028 !important;
}