

.stApp {
    background-image: url('https://raw.githubusercontent.com/Dot9898/Torneos-activos-catan-Chile/refs/heads/main/assets/img/catan_background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.stHeading h1 {
    color: #3F3028 !important;
}

.stHeading h2 {
    color: #3F3028 !important;
    font-weight: 700 !important;
}

/* Hide Streamlit top bar */
header[data-testid="stHeader"] {
    display: none;
}

/* Hide toolbar/menu */
div[data-testid="stToolbar"] {
    display: none;
}

#MainMenu {
    display: none;
}

footer {
    display: none;
}

/* Remove the space left by the header */
.stApp {
    margin-top: -60px;
}

/*
.stApp,
[data-testid="stAppViewContainer"],
[data-testid="stMain"],
[data-testid="stMainBlockContainer"] {
    min-width: 500px;
}
*/